@import url('https://fonts.googleapis.com/css2?family=categorynel+Sans:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Neulis Neue';
    src: url('fonnts.com-240931/fonts/fonnts.com-Neulis_Neue_Bold.otf') format('opentype');
    font-weight: bold;
}

* {
    margin: 0;
    box-sizing: border-box;
}


html {
    padding: 2px 0;
}

Body {
    background-color: #F7F7F7;
    padding: 50px 0;
    height: auto;
    text-align: center;
}

span {
    display: inline-block;
    padding: 0.5em;
    font-size: 42px;
    font-family: 'Neulis Neue';
    font-weight: bolder;
}

mark {
    background-color: transparent;
    color: var(--color-primary);
}

p {
    font-family: 'Inter';
    line-height: 2rem;
}

main {
    height: auto;
    position: relative;
    padding: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: auto;
    gap: 22px;
}

main>img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid black;
}

.text-group {
    padding: 2em;
    justify-items: center;
    display: grid;
    align-items: center;
}

.text-group>* {
    max-width: 50%;
}

.deco {
    position: absolute;
    top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #F7F7F7;
    border: 2px solid black;
    color: black;
    border-radius: 90px;
}

.deco:hover {
    border: 2px solid #8452ac;
    color: #8452ac;
}

.deco:active {
    background-color: #8452ac;
    color: #F7F7F7;
    border: 2px solid #8452ac;
}

.explore {
    transform: translateY(0px) rotate(-35deg);
    animation: explore 5s infinite;
}

@keyframes explore {
    0% {
        transform: translateY(-5px) rotate(-35deg);
    }

    50% {
        transform: translateY(-30px) translateX(-70px) rotate(-35deg);
    }

    100% {
        transform: translateY(-5px) rotate(-35deg);
    }
}

.category {
    margin-top: 7.5%;
    transform: translateY(0px) rotate(-35deg);
    animation: category 5s infinite;
}

@keyframes category {
    0% {
        transform: translateY(5px) rotate(-35deg);
    }

    50% {
        transform: translateY(100px) translateX(-70px) rotate(-35deg);
    }

    100% {
        transform: translateY(5px) rotate(-35deg);
    }
}


:root {
    --color-primary: #8452ac;
}


@media only screen and (max-width:600px) {
    body {
        background-color: lightblue;
    }

    main {
        grid-template-columns: repeat(auto-fill, 150px);
    }

    main>img {
        height: 150px
    }

    p {
        font-size: 12px;
    }

    .text-group>* {
        max-width: 75%;
    }
}